.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-link {
  color: #61dafb;
}

.movieImage{
  margin: auto;
  height:350;
  width:250px;
  object-fit: contain;
  background-size: cover;
}

.movie-slide {
  padding: 0 10px; /* Ajoute un petit espace à gauche et à droite */
}

.movie-content {
  border: 1px solid #ccc; /* Ajoute une bordure autour de chaque film */
}

.movie-details {
  padding: 10px; /* Ajoute un peu d'espace à l'intérieur de chaque film */
}

.moviesDiv{
  display: grid;
  border: 1px solid black;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
